/*@import url('https://fonts.googleapis.com/css?family=Lato:300|Volkhov');

/*#websitebanner{
    background-color: red;
} */

body{
    font-family:'Luckiest Guy', sans-serif;
}

.websitebanner-container{
    background: url(../images/background.jpg) no-repeat bottom right fixed; 
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.jumbotron {
    background-color: transparent;
}


.course-content-container{
    background-color: purple;
}

.certification-content-container{
    background-color: yellow;

}

#course-content{
    background-color: green;
}

#certification-content{
    background-color: blue;
}

.coursedescription{
    text-align: justify;
    font-weight: bold;
    margin: 25px, 0;
}


@media (min-width: 768px) {
    .display-1-sm {
         text-align: left; 
         text-transform: uppercase;
        
         

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .display-1-md {
        text-align: left;
        text-transform: uppercase;
      
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .display-1y-lg {
        text-align: left;
        text-transform: uppercase;
        
    }
}


@media (min-width: 544px) {  
  h1 {
      font-size: 12px;
  } /*1rem = 16px*/
   
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  h1 {font-size:32px;
  } /*1rem = 16px*/
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  h1 { font-size: 32px;
  } /*1rem = 16px*/
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  h1 {font-size: 48px;
  } /*1rem = 16px*/    
}

