@import url('https://fonts.googleapis.com/css?family=Fredoka+One:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*#websitebanner{
    background-color: red;
} */

body{
    font-family:"Fredoka+One", sans-serif;
    
    
}
.text-uppercase{
    font-family:"Fredoka+One", sans-serif;
}


.websitebanner-container{
    background: url(../images/background.jpg) no-repeat bottom right fixed; 
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.coursedescription-container{
    background-color:rgba(39, 73, 109, 1);
    color:white;
    font-size: 20px;

}

/*Nav Bar*/
.navbar-custom{
    margin-bottom: 0;
    border:0;
    width: 100%;
    background-color: rgba(20, 40, 80, 1);
}
.navbar-custom{
    background-color: rgba(20, 40, 80, 1);

}
.bannertext{
    
    font-weight: 100;
    text-align: center;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 20%;
    padding: 50px;    
    text-transform: uppercase;
    font-family:"FredokaOne", sans-serif;

   
}


.jumbotron {
    background-color: transparent;
}

.course-content-container{
    background-color: purple;
}

.certification-content-container{
    background-color: yellow;

}

#course-content{
    background-color: green;
}

#certification-content{
    background-color: blue;
}

.coursedescription{
    text-align: justify;
    font-weight: bold;
    margin: 25px, 0;
}


    @media (min-width: 768px) {
        .display-1-sm {
            text-align: center; 
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing:4px;
            color:white;
            
                
        }
    }

    /* Medium devices (desktops, 992px and up) */
    @media (min-width: 992px) {
        .display-1-md {
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing:4px;
            color:white;
        
        }
    }

    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {
        .display-1y-lg {
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing:4px;
            color:white;
        }
    }


    
    