/*@import url('https://fonts.googleapis.com/css?family=Lato:300|Volkhov');

/*#websitebanner{
    background-color: red;
} */

body{
    font-family:'Luckiest Guy', sans-serif;
}


.websitebanner-container{
    background: url(../images/background.jpg) no-repeat bottom right fixed; 
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}


.jumbotron {
    background-color: transparent;
}


.course-content-container{
    background-color: purple;
}

.certification-content-container{
    background-color: yellow;

}

#course-content{
    background-color: green;
}

#certification-content{
    background-color: blue;
}

.coursedescription{
    text-align: justify;
    font-weight: bold;
    margin: 25px, 0;
}


    @media (min-width: 768px) {
        .display-1-sm {
            text-align: center; 
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing:4px;
            color:white;
            
                
        }
    }

    /* Medium devices (desktops, 992px and up) */
    @media (min-width: 992px) {
        .display-1-md {
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing:4px;
            color:white;
        
        }
    }

    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {
        .display-1y-lg {
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing:4px;
            color:white;
        }
    }


    
    